<?php
/** @var \Bluz\Layout\Layout $this */
if (!empty($fullMessage)) {
    $commentTextClass = (strlen($fullMessage->text) > 500) ? 'hideText' : '';
    $hide = (strlen($fullMessage->text) > 500) ? '' : 'hidden';
    ?>
    <div class="panel panel-default ">
        <div class="panel-heading ">
            <b class="number"></b>
            <b class="comment" id="<?= esc($fullMessage->id) ?>">
                <?=$this->user()->name ?>
            </b>
            <b class="pull-right"><?= esc($fullMessage->created) ?></b>
        </div>
        <div class="panel-body commentText <?= esc($commentTextClass) ?>">
            <?php if (!empty(esc($fullMessage->image))): ?>
                <img class="pull-left" width="128px" height="auto"
                     src="<?= "uploads/messagePics/" . esc($fullMessage->image) ?>">
            <?php endif; ?>
            <?= esc($fullMessage->text) ?>
        </div>
        <div class="panel-footer">
            <button type='submit' class='btn btn-primary showMore pull-left <?= $hide ?>'>Show More...</button>
            <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>
        </div>
    </div>
    <?php
}
?>