<?php /** @var \Bluz\Layout\Layout $this */ ?>
<div class="container">
    <div class="form well">
        <form class="form-horizontal" method="post" enctype=multipart/form-data id="formsend">
            <div class="form-group">
                <label class="control-label col-xs-1" for="user_name">Login:</label>

                <div class="col-xs-11">

                    <div class="form-control-static" id="user_name">
                        <!--NAME-->
                        <?php echo $this->user()->name; ?>
                    </div>

                </div>
                <label class="control-label col-xs-1" for="email">Email:</label>

                <div class="col-xs-11">

                    <div class="form-control-static" id="email">
                        <!--EMAIL-->
                        <?php echo $this->user()->email; ?>
                    </div>
                </div>
                <label class="control-label col-xs-1" for="msg">Comment:</label>
            </div>
            <div>
                <textarea class="form-control" rows="8" name="comment" id="msg"></textarea>
                <input type="file" required="" accept="image/*" name="fileToUpload" id="fileToUpload" class="pull-left">
                <button type="submit" class="pull-right btn btn-group btn-primary add">
                    <i class="glyphicon glyphicon-comment"></i> Add
                </button>
                <br/>
            </div>
        </form>
    </div>

    <div class="allmessage">
        <button class="btn btn-primary" type="button">
            Message count: <span class="badge">0</span>
        </button>
    </div>

    <!-- START MESSAGES-->

    <div class="sms" id="sms">
        <?php

        if (!empty($messages)) {
            foreach ($messages as $key => $message) {
                $commentTextClass = (strlen($message->text) > 500) ? 'hideText' : '';
                $hide = (strlen($message->text) > 500) ? '' : 'hidden';
                ?>

                <div class="panel panel-default ">
                    <div class="panel-heading ">
                        <b class="number"></b>
                        <b class="comment" id="<?= esc($message->id) ?>">
                            <?= esc($message->name) ?>
                        </b>
                        <b class="pull-right"><?= esc($message->date) ?></b>
                    </div>
                    <div class="panel-body commentText <?= esc($commentTextClass) ?>">
                        <?php if (!empty(esc($message->image))): ?>
                            <img class="pull-left" width="128px" height="auto"
                                 src="<?= "uploads/messagePics/" . esc($message->image) ?> ">
                        <?php endif; ?>
                        <?= esc($message->text) ?>
                    </div>
                    <div class="panel-footer clearfix">
                        <button type='submit' class='btn btn-primary showMore pull-left <?= $hide ?>'>Show More...
                        </button>
                        <?php if ($this->user()->id == esc($message->user_id)): ?>
                            <button type="button" class="btn btn-primary delete" data-toggle="modal"
                                    data-target="#myModal">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </button>
                        <?php endif; ?>
                    </div>
                </div>
                <?php
            }

        } else {
            ?>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>0 Results
            </div>
            <?php
        };
        ?>

    </div>

    <!--END MESSAGES-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Comment</h4>
                </div>
                <div class="modal-body">
                    Are you sure want to delete this comment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="del btn btn-primary" data-dismiss="modal">Delete</button>
                    <button type="button" class="cancelDel btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Modal -->